
.all-home{
    background-color: rgb(19, 5, 1);
    .silde-projects{
        .slider{
            .slider-item{
                .silder-image{
                    width:100%;
                    height:auto;
                    object-fit: cover;
                    object-position: top;
                    position:relative;
                }
                .premium-steak{
                    position:absolute;
                    font-size: 200%;
                    top: 30%;
                    left: 25%;
                    color: rgb(255, 230, 0);
                    font-weight: bolder;
                    background-color: rgba(65, 65, 65, 0.664);
                    padding: 10px 20px;
                    border-radius: 5px;
                }
                .box-address{
                    position:absolute;
                    top: 40%;
                    left: 25%;
                    color:rgb(255, 230, 0);
                    background-color: rgba(65, 65, 65, 0.664);
                    padding: 10px;
                    border-radius: 10px;
                    .address-open-close{
                        display:inline-flex;
                        align-items: center;
                        padding: 10px 20px;
                        .address-icon{
                            width:30px;
                            height:30px;
                            margin:5px;

                        }
                        .open-close{
                            margin:0;
                        }
                    }
                }
                    .address-open-close-2{
                        display:inline-flex;
                        align-items: center;
                        padding: 10px 20px;
                        .address-icon{
                            width:30px;
                            height:30px;
                            margin:5px;

                        }
                        .open-close2{
                            margin:0;
                        }
                    }
            }
            
        }
    }
    .row.home-about{
        margin: 0;
        display:flex;
        justify-content: center;
        padding: 15% 0 10% 0;
        .col-sm-4.home-about-box{
            padding:0px;
            .image-home-about{
                width:100%;
                height:auto;
                object-fit: cover;
            }
        }
        .col-sm-5.home-about-box2{
            background-color: rgb(54, 54, 54);
            padding:60px 30px;
            color:rgb(255, 230, 0);
            .home-about-title{
                padding: 30px 0;
            }

        }
    }
    .choose-us{
        padding-bottom: 5%;
        .choose-us-title{
            text-align: center;
            color:rgb(255, 230, 0);
            padding: 30px 0 0 0 ;
            font-weight: bolder;

        }
        .choose-us-note{
            text-align: center;
            color:rgb(255, 230, 0);
            padding-bottom: 25px;

        }
        .row.choose-us-box{
            margin:0;
            display:flex;
            justify-content: center;
            padding-bottom: 5%;
            .col-sm-2.choose-us-box-item{
                margin: 0 10px;
                .choose-us-box-item-icon-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    margin: 20px 0;
                    .choose-us-box-item-icon {
                        width: 60px;
                        height: 60px;
                    }
                }
                .choose-us-box-item-title{
                    text-align: center;
                    color:rgb(255, 230, 0);
                }
                .choose-us-box-item-content{
                    text-align: center;
                    color:rgb(255, 230, 0);
                    font-size: 80%;
                }
            }
        }
    }
    .home-product{
        padding-top: 8%;
        .home-product-title{
            text-align: center;
            color:rgb(255, 230, 0);
            font-weight: bolder;
        }
        .list-product{
            .list-product-title{
                padding: 5% 0 0 5%;
                .list-product-btn{
                    border: none;
                    background-color: rgb(19, 5, 1);
                    color:rgb(255, 230, 0);
                    margin: 0 10px; 
                }
            }
            .row.list-product-box{
                text-align: center;
                margin:0;
                display:flex;
                padding: 3% 0 5% 0;
                .col-sm-3.list-product-item{
                    padding:10px;
                    margin:0 !important;
                    .list-product-item-img{
                        .list-product-image{
                            width:100%;
                            height:300px;
                            object-fit: cover;
                            border-top-left-radius: 10%;
                            border-top-right-radius: 10%;
                        }
                    }
                    .list-product-item-data{
                        background-color: white;
                        border-bottom-left-radius: 10%;
                        border-bottom-right-radius: 10%;
                        padding: 10px 0 20px 0;
                        .list-product-item-title{
                            padding-top: 10px;
                            padding-left: 10px;
                            font-weight: bold;
                            display:flex;
                            align-items: flex-start;
                        }
                        .list-product-item-star{
                            display:flex;
                            justify-content:space-between;
                            align-items: center;
                            .list-product-item-review{
                                display:flex;
                                padding-left: 10px;
                                .list-product-item-review-icon{
                                    width:30px;
                                    height:30px;
                                    margin:3px;
                                }
                            }
                            .list-product-item-price{
                                margin:0;
                                padding-right: 10px;
                                font-weight: bold;
                            }
                        }
                        .list-product-item-note{
                            color:rgb(100, 100, 100);
                            padding-left: 10px;
                            padding-top: 10px;
                            display:flex;
                            align-items: flex-start;
                        }
                    }
                }
                
            }
            
        }
    }
    .home-ingredients{
        padding-bottom: 10%;
        .home-ingredients-title{
            padding-top: 60px;
            color:rgb(255, 230, 0);
            text-align: center;
        }
        .home-ingredients-data-content{
            width:60%;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            .home-ingredients-content{
                color:rgb(255, 230, 0);
                text-align: center;
            }
        }
       
        .row.ingredients-image{
            margin:0;
            display:flex;
        }
        @media (min-width: 1400px) {
            .col-sm-7.ingredients-item{
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .discover{
        background-image:linear-gradient(rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.479)), url("https://res.cloudinary.com/dhjrrk4pg/image/upload/v1716683976/top-view-table-full-delicious-food-composition_1_m3vv8o.jpg");
        width:100%;
        height:500px;
        display: flex;
            align-items: center;
        .discover-box{
            width: 100%;
            .discover-title{
                text-align: center;
                color:rgb(255, 230, 0);
                font-weight: bold;
            }
            .discover-content{
                color:rgb(255, 230, 0);
                width:40%;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        }
       
    }
    .client-review{
        .client-review-title{
            padding-top: 7%;
            color:rgb(255, 230, 0);
            font-weight: bold;
            padding-left: 7%;
        }
        .client-review-content{
            color:rgb(255, 230, 0);
            width:50%;
            padding-left: 7%;
            padding-top: 3%;
        }
        .row.client-review-data{
            margin:0;
            justify-content: center;
            padding: 4% 0;
            .col-sm-3.client-review-data-box{
                margin:0 3%;
                color:rgb(255, 230, 0);
                background-color: rgb(68, 68, 68);                    
                    .client-review-data-item{
                        display:flex;
                        padding:20px 0;
                        justify-content: space-between;
                        align-items: center;
                        .client-review-data-item-title{
                            margin:0;
                            font-weight: bold;
                        }
                        .client-review-item-review{
                            .client-review-item-review-icon{
                                width:20px;
                                height:20px;
                                margin: 5px;
                            }
                        }
                    }
                    .client-review-data-item-end{
                        display:flex;
                        justify-content: space-between;
                        .client-review-data-img{
                            width:120px;
                            height:auto;
                            object-fit: cover;
                        }
                    }
                    
            }
        }
    }
    .store{
        padding-top: 10% ;
        padding-bottom: 5%;
        .row.store-box{
            margin: 0;
            display: flex;
            justify-content: center;
            color:rgb(255, 230, 0);
            .col-sm-3.store-item{
                margin: 5px 50px 5px 0px;
                padding: 10px;
                .store-item-title{
                    padding: 10px 0;
                }
                .store-item-btn{
                    margin-top: 30px;
                    padding: 10px 30px;
                    background-color: rgb(112, 112, 112);
                    border: 1px solid black;
                    color:rgb(255, 230, 0);
                   // border-radius: 20px;
                }
            }
            .col-sm-3.store-item2{
                height:500px;
                .store-item2-box{
                    border: 1px solid rgb(255, 230, 0) ;
                    height: 350px;
                    display: flex;
                    width:550px;
                    position:relative;
                    .store-item2-image{
                        margin-top: 50px;
                        margin-left: 50px;
                        height: 350px;
                        width: 300px;
                        object-fit: cover;
                    }
                    .store-item2-image2{
                        width:190px;
                        height:200px;
                        object-fit: cover;
                        top: 60%;
                        position:absolute;
                        left: 75%;
                    }
                }
                
            }
        }
    }
}
